@model Projects.Models.Actress

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Actress</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActressName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActressName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetWorth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetWorth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieNameNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieNameNavigation.MovieName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ActressId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
